h1{
    color: blueviolet;
    font-size: 2.5rem;
}

h4{
    color: blue;
    font-size: 1.5rem;
}


ol{
    color: blue;
}

*{
    background-color: yellowgreen;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 10px;
}

img{
    border: black solid;
}


